# Ignore build artifacts and downloaded files
bin/**
site/

# Secrets
*.key
secret.env
.env
.decrypted~*

# Exclude directories that Git might not have permissions to
services/**/backups/
services/**/data/

# App specific
services/homepage/config/logs/
